body{
  background: #5f2c82;
  background: -webkit-linear-gradient(to right, #49a09d, #5f2c82);
  background: linear-gradient(to right, #49a09d, #5f2c82);
  background-image: ;
  background-size: 100vw 100vh;
  background-attachment: fixed;
  margin: 0;
}

/*menu*/
.navbar-shrink{
    padding-top: 0;
    padding-bottom: 0;
}
.mybg-dark {
    background: #000 !important;
}
/*-/menu*/


/*header con slider*/
#slides {
  position: relative;
}

#slides .slides-container {
  display: none;
  width: 100%;
}
#slides .scrollable {
  *zoom: 1;
  position: relative;
  top: 0;
  left: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  height: 100%;
}
#slides .scrollable:after {
  content: "";
  display: table;
  clear: both;
}

.slides-navigation {
  margin: 0 auto;
  position: absolute;
  z-index: 3;
  top: 46%;
  width: 100%;
}
.slides-navigation a {
  position: absolute;
  display: block;
  width: 50px;
  height: 50px;
  font-size: 40px;
  text-decoration: none;
  background: rgba(0,0,0,0.5);
  color: #fff;
  padding: -15px;
  text-align: center;
  line-height: 40px;
  font-weight: bold;
  border-radius: 50%;
}
.slides-navigation a:hover{
  background: -webkit-linear-gradient(to right, #49a09d, #5f2c82);
  background: linear-gradient(to right, #49a09d, #5f2c82);
}
.slides-navigation a.prev {
  left: 0;
}
.slides-navigation a.next {
  right: 0;
}

.slides-pagination {
  position: absolute;
  z-index: 3;
  bottom: 0;
  text-align: center;
  width: 100%;
}
.slides-pagination a {
  border: 2px solid #fff;
  border-radius: 15px;
  width: 10px;
  height: 10px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  background: -webkit-linear-gradient(to right, #49a09d, #5f2c82);
  background: linear-gradient(to right, #49a09d, #5f2c82);

  margin: 2px;
  overflow: hidden;
  text-indent: -100%;
}
.slides-pagination a.current {
  background: #222;
}
.description{
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.description h2{
  color: #fff;
  font-size: 40px;
}

.description p{
  font-size: 30px;
  position: relative;
}
.header img{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-shadow:0 20px 20px 0 rgba(0,0,0,.2);
}
/*-/header*/


/*contenedor de la galeria*/
.contenedor_1{
  margin-top: -80px;
  align-items: center;
}

@media (max-width: 480px){
  .contenedor_1{
    width: 100%;
    height: 400px;
  }
}
/*-/contenedor*/


/* galeria*/
#c-slider{
  margin: auto;
  margin-top: 60px;
  width: 90%;
  max-width: 900px;
  max-height: 500px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 0 10px #000,
              0 15px 100px;
}

@media (max-width: 480px){
  #c-slider{
    width: 90%;
    height: 100px;
    max-height: 200px;
  }
}

@media (max-width: 720px){
  #c-slider{
    width: 90%;
    height: 300px;
    max-height: 400px;
  }
}

#slider{
  display: flex;
  width: 500%;
}

#slider section{
  width: 100%;
}

#slider img{
  display: block;
  width: 100%;
  height: 100%;
  margin-top: -150px;
  cursor: pointer;
}


@media (max-width: 480px){
  #slider img{
    display: block;
    width: 100%;
    height: 100px;
    max-height: 200px;
  }
}


@media (max-width: 720px){
  #slider img{
    display: block;
    width: 100%;
    height: 200;
    max-height: 300px;
  }
}

@media (max-width: 1200px){
  #slider img{
    display: block;
    width: 100%;
    height: 500px;
  }
}

#btn-prev, #btn-next{
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.4);
  position: absolute;
  top: 50%;
  transform: rotateY(-50%);
  line-height: 40px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  border-radius: 50%;
  font-family: monospace;
  cursor: pointer;
}

#btn-prev:hover, #btn-next:hover{
    background: rgba(255, 255, 255, 1);
}

#btn-prev{
  left: 10px;
}

#btn-next{
  right: 10px;
}

/*-/galeria*/


/*modal*/
.modal{
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0.7);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__img{
  width: 90%;
  max-width: 1000px;
}

@media (max-width: 480px){
  .modal__img{
    width: 100%;
    padding: 10px;
  }
}

.modal__boton{
  width: 50px;
  height: 50px;
  color: #000;
  font-weight: bold;
  font-size: 25px;
  font-family: monospace;
  line-height: 50px;
  text-align: center;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
}
/*-/modal*/

/*-/mapa*/
.contenedor{
  width: 600px;
  height: 500px;
}
@media screen and (max-width: 800px){
  .contenedor{
    width: 100%;
  }
}

/*-/Scroll-barra*/
body::-webkit-scrollbar{
  width: 10px;
  background: #000;
}
body::-webkit-scrollbar-thumb{
background: -webkit-linear-gradient(to right, #fff, #fff); 
background: linear-gradient(to right, #fff, #fff);
border-radius: 5px;
}

/*-/Boton-Mapa-*/
.button{
  background:#7f8c8d;
  color:#fff;
  display: inline-block;
  font-size:1.25em;
  margin:20px;
  padding:10px 0;
  text-align:center;
  width:200px;
  text-decoration:none;
  box-shadow:0px 3px 0px #373c3c;
}
.button span{
  margin-right: 10px;
}
.button.blue{
  background: #3498db;
  box-shadow: 0px 3px 0px #266792;
}
.button.radius{
  border-radius: 50px;
}
.button:hover{
  box-shadow: 0px 0px 0px;
  padding-top: 7px;
}
